<div class="data-details-card-wrapper">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="dataDetailsForm"
            (ngSubmit)="dataDetailsSubmit()">
        <div class="data-details-card-header">
          <h2>Student details:</h2>
          <mat-icon class="data-details-card-header-icon-close" type="button" (click)="closeDetailsCard.emit()" aria-label="close header" fontIcon="close"></mat-icon>
        </div>
        <div class="data-details-card-body">
          <div class="data-details-card-left-side">
              <!-- id -->
              <mat-form-field class="data-details-input">
                <mat-label>ID</mat-label>
                <input matInput id="detail_id" type="string" [formControl]="dataDetailsForm.controls.id">
              </mat-form-field>

            <!-- name -->
            <mat-form-field class="data-details-input">
              <mat-label>Name</mat-label>
              <input matInput id="detail_name" type="string" [formControl]="dataDetailsForm.controls.name">

              @if (dataDetailsForm.controls.name.hasError('required')) {
                <mat-error>Name is <strong>required</strong></mat-error>
              }
            </mat-form-field>

            <!-- grade -->
            <mat-form-field class="data-details-input">
              <mat-label>Grade</mat-label>
              <input matInput id="detail_grade" type="number" [min]="0" [max]="100" [formControl]="dataDetailsForm.controls.grade">

              @if (dataDetailsForm.controls.grade.hasError('min') && !dataDetailsForm.controls.grade.hasError('required')) {
                <mat-error>Grade can't be less then 0.</mat-error>
              }
              @if (dataDetailsForm.controls.grade.hasError('max') && !dataDetailsForm.controls.grade.hasError('required')) {
                <mat-error>Grade can't be more then 100.</mat-error>
              }
              @if (dataDetailsForm.controls.grade.hasError('required')) {
                <mat-error>Grade is <strong>required</strong></mat-error>
              }
            </mat-form-field>

            <!-- email -->
            <mat-form-field class="data-details-input">
              <mat-label>Enter your email</mat-label>
              <input matInput id="detail_email" type="string" [formControl]="dataDetailsForm.controls.email">

              @if (dataDetailsForm.controls.email.hasError('email') && !dataDetailsForm.controls.email.hasError('required')) {
                <mat-error>Please enter a valid email address</mat-error>
              }
              @if (dataDetailsForm.controls.email.hasError('required')) {
                <mat-error>Email is <strong>required</strong></mat-error>
              }
            </mat-form-field>

            <!-- date -->
            <mat-form-field class="data-details-input">
              <mat-label>Date</mat-label>
              <input matInput id="detail_date" type="date" [formControl]="dataDetailsForm.controls.date">

              @if (dataDetailsForm.controls.date.hasError('pattern') && !dataDetailsForm.controls.date.hasError('required')) {
                <mat-error>Please enter a valid date</mat-error>
              }
              @if (dataDetailsForm.controls.date.hasError('required')) {
                <mat-error>Date is <strong>required</strong></mat-error>
              }

              @if (dataDetailsForm.controls.date.hasError('invalidYear')) {
                <mat-error>{{ dataDetailsForm.controls.date.getError('invalidYear').message }}</mat-error>
              }
            </mat-form-field>
          </div>

          <div class="data-details-card-left-side">
            <!-- address -->
            <mat-form-field class="data-details-input">
              <mat-label>Address</mat-label>
              <input matInput id="detail_address" type="string" [formControl]="dataDetailsForm.controls.address">

              @if (dataDetailsForm.controls.date.hasError('required')) {
                <mat-error>Address is <strong>required</strong></mat-error>
              }
            </mat-form-field>

            <!-- city -->
            <mat-form-field class="data-details-input">
              <mat-label>City</mat-label>
              <input matInput id="detail_city" type="string" [formControl]="dataDetailsForm.controls.city">

              @if (dataDetailsForm.controls.city.hasError('required')) {
                <mat-error>City is <strong>required</strong></mat-error>
              }
            </mat-form-field>

            <!-- country -->
            <mat-form-field class="data-details-input">
              <mat-label>Country</mat-label>
              <input matInput id="detail_country" type="string" [formControl]="dataDetailsForm.controls.country">

              @if (dataDetailsForm.controls.country.hasError('required')) {
                <mat-error>Country is <strong>required</strong></mat-error>
              }
            </mat-form-field>

            <!-- zip -->
            <mat-form-field class="data-details-input">
              <mat-label>Zip</mat-label>
              <input matInput id="detail_zip" type="number" [formControl]="dataDetailsForm.controls.zip">

              @if (dataDetailsForm.controls.zip.hasError('required')) {
                <mat-error>Zip is <strong>required</strong></mat-error>
              }
            </mat-form-field>

            <!-- subject -->
            <mat-form-field class="data-details-input">
              <mat-label>Subject</mat-label>
              <input matInput id="detail_subject" type="string" [formControl]="dataDetailsForm.controls.subject">

              @if (dataDetailsForm.controls.subject.hasError('required')) {
                <mat-error>Subject is <strong>required</strong></mat-error>
              }
            </mat-form-field>
          </div>
        </div>

        <button class="data-details-card-button"  type="submit" mat-raised-button [disabled]="dataDetailsForm.invalid">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
