<div class="monitor-form-header-wrapper p-3">
  <form [formGroup]="monitorForm">
    <!-- ids -->
    <div class="monitor-form-ids d-flex align-items-center">
      <label class="m-r-3">IDs: </label>
      <app-form-input-multiselect [optionList]="idsSelectOptions" [optionControl]="monitorForm.controls.ids" placeHolder="Ids" />
    </div>

    <!-- names -->
    <div class="monitor-form-names d-flex align-items-center">
      <label class="m-r-3">Names: </label>
      <app-form-input-multiselect [optionList]="namesSelectOptions" [optionControl]="monitorForm.controls.names" placeHolder="Names"/>
    </div>

    <!-- failed / passed -->
    <div class="monitor-form-state">
      <label>State:</label>
      <mat-checkbox [formControl]="monitorForm.controls.isPassed">Passed</mat-checkbox>
      <mat-checkbox [formControl]="monitorForm.controls.isFailed">Failed</mat-checkbox>
    </div>
  </form>
</div>
