.navbar-dark .navbar-brand {
  color: #ff4081; /* Pink from Angular Material */
}

.navbar-dark .nav-link {
  color: rgba(255, 255, 255, 0.7); /* Light grey for inactive links */

  &.active {
    color: #ff4081; /* Blue-grey from Angular Material */
  }

  &:hover {
    color: #ff4081; /* Pink from Angular Material */
  }
}

.navbar-dark .navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}
