<div class="analysis-view-wrapper p-3">
  <mat-card>
    <mat-card-content>
      <!-- filters -->
      <app-analysis-form-header (setFilterOptions)="setFilterOptions($event)" />

      <!-- charts -->
      <div cdkDropList class="analysis-charts-row" (cdkDropListDropped)="drop($event)">
        @for (chart of chartsInfo; track chart.name; let last=$last) {
          <div class="box" cdkDrag>
            <h2 class="header">{{ chart.name }}</h2>
            <div class="context"
            >
              <app-analysis-chart-over-time [hideData]="last" [chartData]="chart.data" />
            </div>
          </div>
        }
      </div>

    </mat-card-content>
  </mat-card>
</div>
