.analysis-view-wrapper{
  .analysis-charts-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 10px;
  }

  .box {
    transition: transform 0.2s ease; /* Smooth transition for movements */
    border: 2px solid #ccc;
    padding: 20px;
    text-align: center;
    cursor: move;
    box-sizing: border-box;
  }

  .box:active {
    cursor: grabbing;
  }

  .box.cdk-drag-preview {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }

  .cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
    opacity: 0.5;
  }

   .box:nth-child(3n) {
    grid-column: span 2;
  }
}
