<div class="data-view-wrapper p-3">
  <app-data-header (openDetailsCard)="openDetailsCard($event)" (openDetailsCard)="openDetailsCard($event)" />
  <app-data-table
    [displayedColumns]="displayedColumns"
                  [dataSource]="dataSource"
                  (removeStudent)="removeStudent($event)"
                  (openDetailsCard)="openDetailsCard($event)"
  />
  @if (isDetailsCardOpen) {
    <app-data-details-card  (setData)="setStudents($event)" [chosenStudent]="chosenStudent" (closeDetailsCard)="closeDetailsCard()"/>
  }
</div>
