<div class="data-view-wrapper">
  <app-data-header (openDetailsCard)="openDetailsCard($event)" (openDetailsCard)="openDetailsCard($event)" />
  <app-data-table [displayedColumns]="displayedColumns"
                  [dataSource]="dataSource"
                  (removeStudent)="removeStudent($event)"
                  (openDetailsCard)="openDetailsCard($event)"
  />
  @if (isDetailsCardOpen) {
    <app-data-details-card [chosenStudent]="chosenStudent" (closeDetailsCard)="closeDetailsCard()"/>
  }
</div>
