<div class="analysis-form-header-wrapper p-3">
  <form [formGroup]="analysisForm">
    <!-- show all button -->
    <div style="display: flex; justify-content: end; align-items: center">
      <button type="reset" mat-button style="text-decoration: underline; color: #0074D9;">show all</button>
    </div>

    <!-- ids -->
    <div class="analysis-form-ids d-flex align-items-center">
      <label class="m-r-3">IDs:</label>
      <app-form-input-multiselect [optionList]="idsSelectOptions" [optionControl]="analysisForm.controls.ids" placeHolder="Ids" />
    </div>

    <!-- subjects -->
    <div class="analysis-form-names d-flex align-items-center">
      <label class="m-r-3">Subjects:</label>
      <app-form-input-multiselect [optionList]="subjectsSelectOptions" [optionControl]="analysisForm.controls.subjects" placeHolder="Subjects"/>
    </div>

  </form>
</div>
